<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Publish logs in tomcat 'logs' directory -->
    <variable name="LOGS_DIR" value="logs"/>
    <variable name="ECOM_LOG" value="/Users/yogendrapratapsingh/ecomapi"/>
    <variable name="APP_LOG_LEVEL" value="${APPSETTING_log_level:-INFO}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ECOMAPI_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${ECOM_LOG}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.ecommerceapi.ecommerceapi" level="${APP_LOG_LEVEL}">
        <appender-ref ref="ECOMAPI_FILE" />
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
